.negrito{
    font-weight: bold !important;
}

.btnCancelar{
    margin-right: 20px !important;
}

.text-link {
    text-decoration: none !important;
}

.container {
    display: flex;
    justify-content: center;
}

.ml {
    margin-left: 1.5rem;
}

.mr {
    margin-right: 1.5rem;
}

.mt {
    margin-top: 1.5rem;
}
