.negrito {
    font-weight: bold !important;
    color: black !important;
    ;
}

.text-link {
    text-decoration: none;
}

body {
    background-color: #F2F3F4
}

.mt {
    margin-top: 1rem;
}

.cursor {
    cursor: pointer;
}

.btnModal {
    color: white !important;
    border-color: transparent !important;
}

.btnModal:hover {
    background-color: transparent !important;
}

