.text-link {
    text-decoration: none;
}

.card {
    justify-content: center !important;
    display: flex !important;
    align-items: center !important;
    width: 80% !important;
    height: 300px;
    margin-top: 3rem;
    margin-bottom: 2rem;
}