.bg {
    background-color: #64CB34;
}

.text-none {
    text-decoration: none;
}

.cursor{
    cursor: pointer;
    color: white;
}

.bg2 {
    background-color: #0bb12a;
}

.spacing {
    padding: 1rem;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: auto;
    justify-content: flex-end;
}