body {
    background-color: #f2f3f4;
}

.carrossel {
    display: flex;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}

.sombra:hover {
    box-shadow: 1px 0.5px 5.5px 1px;
}

.card {
    justify-content: center;
    display: flex;
    align-items: center;
}

.text-link {
    text-decoration: none;
}