body {
    background-color: #f2f3f4;
}

.carrossel {
    display: flex;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}

.sombra:hover {
    box-shadow: 1px 0.5px 5.5px 1px;
}

.sobre {
    margin-top: 2rem;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.text-link {
    text-decoration: none;
}

.container {
    align-items: center;
    flex-flow: row wrap;
}

.produtos {
    text-align: center !important;
    font-family: sans-serif !important ;
    color: white;
}

.fundo{
    text-align: center !important;
    background-color: green !important;
    height: 3rem;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}