.ajuste {
    align-items: center;
    justify-content: center;
}

.textoFooter {
    color: white;
}

.textoBold {
    font-weight: bold;
    padding-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textoPadding {
    padding-top: 0.5rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1.5rem;
    font-size: 10px !important;
}

.textoWedoCare {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
}

.mt {
    margin-top: 1rem;
}

.logoFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.imageFooter {
    width: 10rem;
}

.textFooter {
    font-size: .7rem !important;
    margin-top: .5rem !important;
}